---
import Base from "../layouts/Base.astro";
import Hero from "../components/Hero.astro";
import TrustStrip from "../components/TrustStrip.astro";
import ForWhom from "../components/ForWhom.astro";
import Problem from "../components/Problem.astro";
import MiniAgent from "../components/MiniAgent.astro";
import EmailSignup from "../components/EmailSignup.astro";
import MoneyOS from "../components/MoneyOS.astro";
import Lumi from "../components/Lumi.astro";
import ChannelTopics from "../components/ChannelTopics.astro";
import LatestVideo from "../components/LatestVideo.astro";
import AffiliateCard from "../components/AffiliateCard.astro";
import Faq from "../components/Faq.astro";
import FinalCta from "../components/FinalCta.astro";
import Community from "../components/Community.astro";
import Footer from "../components/Footer.astro";
import StickyCTA from "../components/StickyCTA.astro";
---
<Base>
  <main>
    <Hero />
    <TrustStrip />
    <EmailSignup />
    <Problem />
    <ForWhom />
    <MiniAgent />
    <MoneyOS />
    <Lumi />
    <Faq />
    <ChannelTopics />
    <LatestVideo />
    <AffiliateCard />
    <Community />
    <FinalCta />
  </main>
  <Footer />
  <StickyCTA />
</Base>
